body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  margin-top: 98px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ddd;
}

header, footer {
  background-color: #ADD8E6 ;
  color: rgb(58, 57, 57);
  padding: 10px 0;
  text-align: center;
}

main {
  flex: 1;
  padding: 0px;
  margin: 0;
}

.main-container.dark {
  background-color: #734a9e;
}

aside {
  width: 200px;
  background-color: #eaeaea;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

section {
  flex: 1;
  margin-left: 20px;
}

h2 {
  color: #ADD8E6 ;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

form {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"], form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px 15px;
  background: #ADD8E6 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #555;
}
